In [1]:
import pandas as pd

# Example DataFrame
df = pd.DataFrame({
    'A': [1, 2, None, 4],
    'B': [None, 2, 3, 4],
    'C': [1, None, None, 4]
})

# Identify missing values
print(df.isna())


print(df.isnull())

       A      B      C
0  False   True  False
1  False  False   True
2   True  False   True
3  False  False  False
       A      B      C
0  False   True  False
1  False  False   True
2   True  False   True
3  False  False  False

In [3]:
rows = df.dropna()
rows

     A    B    C
3  4.0  4.0  4.0

In [5]:
col = df.dropna(axis=1)
col

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [6]:
df.dropna(how='all')

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  NaN
2  NaN  3.0  NaN
3  4.0  4.0  4.0

In [7]:
df.dropna(thresh=2)

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  NaN
3  4.0  4.0  4.0

In [9]:
df.fillna(0)

     A    B    C
0  1.0  0.0  1.0
1  2.0  2.0  0.0
2  0.0  3.0  0.0
3  4.0  4.0  4.0

In [10]:
df.fillna(method='ffill')

C:\Users\hp\AppData\Local\Temp\ipykernel_25892\1193302488.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  1.0
2  2.0  3.0  1.0
3  4.0  4.0  4.0

In [11]:
df.fillna(method='bfill')

C:\Users\hp\AppData\Local\Temp\ipykernel_25892\2831856154.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill')

     A    B    C
0  1.0  2.0  1.0
1  2.0  2.0  4.0
2  4.0  3.0  4.0
3  4.0  4.0  4.0

In [12]:
df.fillna(df.mean())

          A    B    C
0  1.000000  3.0  1.0
1  2.000000  2.0  2.5
2  2.333333  3.0  2.5
3  4.000000  4.0  4.0