In [2]:
import pandas as pd

data={
    'A':[1,2,3,4],
    'B':[5,6,7,8],
    'C':[9,10,11,12]
}

df = pd.DataFrame(data, index = ['row1','row2','row3','row4'])

In [3]:
df

      A  B   C
row1  1  5   9
row2  2  6  10
row3  3  7  11
row4  4  8  12

In [5]:
#using loc

df.loc['row1']

A    1
B    5
C    9
Name: row1, dtype: int64

In [6]:
df.loc[['row1','row3'],['A','B']]

      A  B
row1  1  5
row3  3  7

In [7]:
#using iLoc

df.iloc[1]

A     2
B     6
C    10
Name: row2, dtype: int64

In [8]:
df.iloc[1:3, 0:2]

      A  B
row2  2  6
row3  3  7