In [10]:
import pandas as pd

df= pd.DataFrame({
    'A': [1,2,3,None],
    'B': [1,None,3,4],
    'c': [1,None,None,4]
})

In [11]:
#identify missing value
df.isna()

       A      B      c
0  False  False  False
1  False   True   True
2  False  False   True
3   True  False  False

In [13]:
#drop rows with any missing valuue

df.dropna(axis=0)

     A    B    c
0  1.0  1.0  1.0

In [15]:
#drop columns with any missing value
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [17]:
#Fill missing value with a specific values
df.fillna(1)

     A    B    c
0  1.0  1.0  1.0
1  2.0  1.0  1.0
2  3.0  3.0  1.0
3  1.0  4.0  4.0

In [19]:
# Forward fill missing values
df.fillna(method='ffill')

C:\Users\hp\AppData\Local\Temp\ipykernel_17840\1193302488.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

     A    B    c
0  1.0  1.0  1.0
1  2.0  1.0  1.0
2  3.0  3.0  1.0
3  3.0  4.0  4.0

In [20]:
# Backward fill missing values
df.fillna(method='bfill')

C:\Users\hp\AppData\Local\Temp\ipykernel_17840\2324780457.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill')

     A    B    c
0  1.0  1.0  1.0
1  2.0  3.0  4.0
2  3.0  3.0  4.0
3  NaN  4.0  4.0